.location {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .location::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%); /* Центрируем полоску по горизонтали */
    width: 100vw; /* Полоска будет растягиваться на всю ширину окна */
    height: 2px;
    background-color: #F2F2F2;
    z-index: 1;
  }

  .select {
    font-family: Roboto;
    font-weight: 600;
    font-size: 18px;
    color: #39364f;
    margin-right: 13px;
  }
  

  .select-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  

  .select-icon {
    margin-right: 13px;
    width: 20px;
    height: 12px;
  }
  
  .select-choice {
    position: absolute;
    margin-top: 10px;
    padding: 10px 0;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  .select-choice.open {
    display: block;
  }
  
  .select-item {
    font-family: Roboto;
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
    color: black;
    font-size: 15px;
  
    &:hover {
      background: #f0f0f0;
      color: #3762f0;
    }
  }
  
  .location__input {
    font-size: 18px;
    color: #3762f0;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid #dbdae3;
    width: 130px;
    height: 26px;
    cursor: pointer;
  
    &:focus {
      outline: none;
    }
  
    &::placeholder {
      font-size: 15px;
      font-weight: 700;
    }
  }
  