.find-tickets__grid {
    display: grid;
    margin-top: 55px;
    grid-template-columns: repeat(4, 1fr); 
    row-gap: 20px;
}


.container__default {
    width: 1400px;
    margin: 0 auto;
    position: relative; /* Нужно для правильного позиционирования псевдоэлементов */
}


.container__default::before,
.container__default::after {
    content: "";
    position: absolute;
    top: 0;
    width: 500px; /* Ширина тумана */
    height: 100%;
    pointer-events: none; /* Чтобы туман не мешал кликам */
    z-index: 10;
}


.container__default::before {
    left: -100px; /* Смещение за контейнер */
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}


.container__default::after {
    right: -100px; /* Смещение за контейнер */
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.find-default__text {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: Roboto;
    color: rgb(26, 126, 207);
    margin-bottom: 20px;
}

.find-default__grid {
    display: grid;
    margin-top: 55px;
    grid-template-columns: repeat(4, 1fr); 
    row-gap: 20px;
    column-gap: 0px;
    margin: 0 auto;
    position: relative;
    ::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 2px;
        background-color: #F2F2F2;
        z-index: 1;
    }
}

.find-tickets__error {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: Roboto;
    color: rgb(0, 0, 0);
    margin-top: 50px;

}

.find-tickets__true {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: Roboto;
    color: rgb(27, 27, 27);
    margin-top: 70px;
}
