.container {
    width: 100%; 
    max-width: 1274px; 
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto; 
    box-sizing: border-box; 
}

.grid__categories {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(8, 1fr); 
    justify-items: center; 
    padding-bottom: 80px;
    position: relative; 
}

.grid__categories::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw; 
    height: 2px;
    background-color: #F2F2F2;
    z-index: 1; 
    overflow-x: hidden; 

}

.grid__card {
    display: grid;
    margin-top: 55px;
    grid-template-columns: repeat(4, 1fr); 
    row-gap: 20px;
}

.no-events__card {
    font-family: sans-serif;
}

@media (max-width: 1270px) {
    .grid__card {
        display: grid;
        grid-template-columns: repeat((3, 1fr));
    }
}


@media (max-width: 768px) {
    .grid__card {
        display: grid;
        grid-template-columns: repeat((2, 1fr));
    }
}


@media (max-width: 660px) {
    .grid__card {
        display: grid;
        grid-template-columns: 1fr; /* Одна колонка */
        justify-items: center; /* Центрируем элементы */
        gap: 20px; /* Отступы между карточками */
        width: 100%;
    }
}
@media (max-width: 1000px ) {
    .grid__categories {
        grid-template-columns: repeat((4, 1fr));
        grid-gap: 40px;
    }
}
@media (max-width: 600px ) {
    .grid__categories {
        grid-template-columns: repeat((3, 1fr));
        grid-gap: 40px;
    }
}

@media (max-width: 440px ) {
    .grid__categories {
        grid-template-columns: repeat((2, 1fr));
        grid-gap: 40px;
    }
}