.tag-going {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    font-weight: 600;
    background-color: rgb(255, 214, 214);
    width: 90px;
    height: 30px;
    border-radius: 5px;
    color: #261B36;
    font-size: 15px;
}

.tag-sales {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    font-weight: 600;
    background-color: #E4E1ED;
    width: 125px;
    height: 30px;
    border-radius: 5px;
    color: #261B36;
    font-size: 15px;
}