.card {
    width: 300px;
    height: 460px;
    border-radius: 10px 10px 0 0;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column; 
    &__tag {
        margin: 10px 0;
        padding-left: 13px; 
    }

    &__img {
        width: 100%;
        height: auto; 
        border-radius: 10px 10px 0 0; 
    }

    &__title,
    &__date,
    &__price,
    &__descr {
        margin: 0;
        font-family: Roboto, sans-serif; 
        padding-left: 13px; 
    }

    &__title {
        margin-bottom: 8px;
        color: #3A3247;
        font-size: 19px;
        font-weight: 500; 
    }

    &__date {
        margin-bottom: 16px; 
        color: #3A3247;
        font-size: 16px;
    }

    &__price {
        margin-bottom: 15px;
        color: #3A3247;
        font-size: 16px;
        font-weight: 500; 
    }

    &__descr {
        color: #585163;
        font-size: 16px;
        line-height: 1.4; 
    }
}