.card {
    width: 300px;
    height: 500px;
    border-radius: 10px 10px 0 0;
    background-color: #fafafa;
    display: flex;
    flex-direction: column; 
    transition: 0.3s;
    &__tag {
        margin: 10px 0;
        padding-left: 13px; 
    }

    &__img {
        width: 100%;
        min-height: 200px; 
        border-radius: 10px 10px 0 0; 
    }

    &__title,
    &__date,
    &__price,
    &__descr {
        margin: 0;
        font-family: Roboto, sans-serif; 
        padding-left: 13px; 
    }

    &__title {
        margin-bottom: 8px;
        color: #3A3247;
        font-size: 19px;
        font-weight: 500; 
    }

    &__date {
        margin-bottom: 16px; 
        color: #3A3247;
        font-size: 16px;
    }

    &__price {
        margin-bottom: 15px;
        color: #3A3247;
        font-size: 16px;
        font-weight: 500; 
    }

    &__descr {
        color: #585163;
        font-size: 16px;
        line-height: 1.4; 
    }
}

.card:hover {
    background-color: rgb(240, 240, 240);
    -webkit-box-shadow: 9px 9px 15px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 9px 15px -14px rgba(66, 68, 90, 1);
    box-shadow: 9px 9px 15px -14px rgba(66, 68, 90, 1);
    cursor: pointer;
}