.nav__wrapper {
    display: flex;
    margin-bottom: 45px;
    align-items: center;
    padding: 8px 0 10px 0;
    font-family: Inter;
    border-bottom: 1px solid #EEEDF2;
}


.logo {
    &__img {
        margin-left: 27px;
        margin-right: 10px;
        width: 40px;
    }

    &__text {
        margin-right: 50px;
        font-size: 24px;
        color: #3160D7;
    }
}

.nav {
    &__search {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &__search-input {
        padding-left: 10px;

        background-color: #F8F7FA;
        border: 2px solid #DBDAE3;
        color: rgb(53, 53, 53);
        font-size: 20px;
        border-radius: 100px;
        min-width: 490px;
        min-height: 44px;

        &:focus {
            outline: none;
        }
    }

    &__search-btn {
        position: absolute;
        margin-right: 19px;

        width: 44px;  
        height: 44px; 

        background-color: #3762F0;
        border: none;
        border-radius: 50%; 
        transition: 0.2s ease-in-out;
    

        & > img {
            width: 15px;
            height: 15px;
        }

        &:hover {
            background-color: #1c4ae4;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-left: auto;
    }

    &__item {
    }

    &__link {
        background-color: #3160D7;
        border-radius: 10px;
        padding: 15px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        margin-right: 40px;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        transition: background-color 0.3s ease;
      
        &:hover {
          background-color: #254aa4; // немного затемнённый оттенок
        }
      
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 5px;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: #ffffff;
          transition: width 0.3s ease;
        }
      
        &:hover:after {
          width: 80%; // линия плавно расширяется
        }
      }
      
    }


.nav__burger {
    display: none;

}


@media (max-width: 800px) {
    .logo__text {
        display: none;
    }
}

@media (max-width: 550px) {
    .nav__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .nav__list {
        display: none;
    }
    .nav__burger {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
    }
    .nav__burger-img {
        height: 40px;
        width: 40px;
        justify-self: end;
    }
}

.modal {
    position: absolute;
    top: 60px; /* Отступ сверху, чтобы окно появлялось под иконкой */
    right: 0;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px; /* Ширина модального окна */
    z-index: 1000;
    display: block;
  }
  
  .modal__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .modal__item {
    margin: 10px 0;
  }
  
  .modal__link {
    text-decoration: none;
    color: #3762F0;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease;
  
    &:hover {
      color: #1c4ae4;
    }
  }
  
  @media (max-width: 550px) {
    .modal {
      width: 170px; /* Уменьшаем ширину окна на мобильных */
    }
  
    .modal__link {
      font-size: 14px; /* Меньше размер шрифта на мобильных */
      color: #39364F;
      font-family: sans-serif
    }
  }